<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 日志级别 由低到高 trade(追踪)->debug()->info()->warn(警告)->error(错误)->fetal(重大错误) -->
    <Properties>
        <!-- 是否追加，false为覆盖，true为追加 -->
        <Property name="append">false</Property>
        <!--<Property name="logPattern">[%d] %p (%c{1.}) %m %n</Property>-->
        <!--     <Property name="logPattern">[%d] %p (%c{1.}) [%t] %m%n</Property> -->
        <Property name="immediateFlush">true</Property>
        <!-- 日志输出格式 -->
        <Property name="logPattern">[%d][%p](%c{1.}:%L)[%t] %m%n</Property>
        <Property name="logfilePattern">[%d][%t][%p][%c:%L] %m%n</Property>
        <Property name="logRootPath">apps/${sys:log-main-path}/logs</Property>
        <Property name="logRollFileSize">100MB</Property>
        <Property name="logRollMaxCnt">100</Property>
    </Properties>
    <Appenders>
        <!-- 控制台输出配置 -->
        <Console name="CONSOLE-DEBUG" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG"/>
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <Console name="CONSOLE-INFO" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO"/>
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <Console name="CONSOLE-WARN" target="SYSTEM_OUT">
            <ThresholdFilter level="WARN"/>
            <PatternLayout pattern="${logPattern}"/>
        </Console>

        <!-- debug级别日志输出到文件 -->
        <RollingRandomAccessFile name="FILE-DEBUG" fileName="${logRootPath}/debug.log"
            filePattern="${logRootPath}/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log.gz"
            immediateFlush="${immediateFlush}" append="${append}">
            <ThresholdFilter level="DEBUG"/>
            <PatternLayout pattern="${logfilePattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${logRollFileSize}"/>
            </Policies>
            <DefaultRolloverStrategy max="${logRollMaxCnt}"/>
        </RollingRandomAccessFile>

        <!-- info级别日志输出到文件 -->
        <RollingRandomAccessFile name="FILE-INFO" fileName="${logRootPath}/info.log"
            filePattern="${logRootPath}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz"
            immediateFlush="${immediateFlush}" append="${append}">
            <ThresholdFilter level="INFO"/>
            <PatternLayout pattern="${logfilePattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${logRollFileSize}"/>
            </Policies>
            <DefaultRolloverStrategy max="${logRollMaxCnt}"/>
        </RollingRandomAccessFile>

        <!-- warn级别日志输出到文件 -->
        <RollingRandomAccessFile name="FILE-WARN" fileName="${logRootPath}/warn.log"
            filePattern="${logRootPath}/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log.gz"
            immediateFlush="${immediateFlush}" append="${append}">
            <ThresholdFilter level="WARN"/>
            <PatternLayout pattern="${logfilePattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${logRollFileSize}"/>
            </Policies>
            <DefaultRolloverStrategy max="${logRollMaxCnt}"/>
        </RollingRandomAccessFile>

        <!-- error级别日志输出到文件 -->
        <RollingRandomAccessFile name="FILE-ERROR" fileName="${logRootPath}/error.log"
            filePattern="${logRootPath}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz"
            immediateFlush="${immediateFlush}" append="${append}">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="${logfilePattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${logRollFileSize}"/>
            </Policies>
            <DefaultRolloverStrategy max="${logRollMaxCnt}"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!--     <Logger name="com.huateng.dinst.frontend" level="DEBUG" includeLocation="true" additivity="false"> -->
        <!--       <AppenderRef ref="CONSOLE-DEBUG" /> -->
        <!--       <AppenderRef ref="FILE-DEBUG" /> -->
        <!--     </Logger> -->

        <Root level="INFO" includeLocation="true">
            <!--<AppenderRef ref="CONSOLE-DEBUG" />-->
            <AppenderRef ref="CONSOLE-INFO"/>
            <!--<AppenderRef ref="CONSOLE-WARN" />-->
            <!--<AppenderRef ref="FILE-DEBUG"/>-->
            <AppenderRef ref="FILE-INFO"/>
            <AppenderRef ref="FILE-WARN"/>
            <AppenderRef ref="FILE-ERROR"/>
        </Root>
    </Loggers>
</Configuration> 